body{
    font-family: Candara;
    background-color: beige;
}

.image-india{
    height: 400px;
}

.overview{
text-align: justify;
margin-left: 50px;
margin-right: 50px;
}

.overview p{
    font-size: large;
}

.featured-destinations{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.featured-destinations p{
    font-size: large;
}

.featured-destinations img{
    width: 600px;
}

.cultural-highlights{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.cultural-highlights p{
    font-size: large;
}

.view-more{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.overview-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cultural-video-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
